<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SSE Chat Demo</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div>
    <h2>SSE Chat Demo</h2>
    <div id="chat-box" style="border: 1px solid black; height: 200px; overflow-y: scroll;"></div>
    <input type="text" id="input-box">
    <button id="send-button">Send</button>
</div>
<script>
    window.onload = function () {
        let sse;

        // 连接SSE
        connectSSE.onclick = function () {
            userIdInfoElement.innerText = userIdElement.value;
            const eventSource = new EventSource('http://localhost:8082/chat/stream');
            eventSource.onopen = (event) => {
                console.log("onopen", event.readyState, event.target);
                sse = event.target;
                let element = document.getElementById("onOpenInfo");
                element.innerText = JSON.stringify(event.target);
            };
            eventSource.onmessage = (event) => {
                let data = JSON.parse(event.data);
                if (data.role === 'chatbot') {
                    $('#chat-box').append('<div><strong>Chatbot:</strong> ' + data.content + '</div>');
                }
            };
            eventSource.onerror = (event) => {
                console.log("onerror", event);
                if (event.readyState === EventSource.CLOSED) {
                    console.log('connection is closed');
                } else {
                    console.log("Error occured", event);
                }
                event.target.close();
                let element = document.getElementById("onErrorInfo");
                element.innerText = JSON.stringify(event);
            };
        };

        // 断开SSE
        disconnectSSE.onclick = function () {
            if (sse) {
                sse.close();
            }
        };

        // 发送消息
        $('#send-button').click(function() {
            sendMessage();
        });

        function sendMessage() {
            var content = $('#input-box').val();
            var payload = { "model": "gpt-3.5-turbo", "messages": [{"role": "user", "content": content}] };
            $.ajax({
                url: "http://localhost:8082/chat/stream",
                type: "POST",
                data: JSON.stringify(payload),
                contentType: "application/json",
                success: function(response) {
                    // 更新对话框内容
                    $('#chat-box').append('<div><strong>You:</strong> ' + content + '</div>');
                },
                error: function(xhr, status, error) {
                    alert("Error sending message: " + error);
                }
            });
        }
    };
</script>
</body>
</html>
